@import "../../styles/variables";
@import "../../styles/mixins";

.card-page {
  padding-top: $nav-space;
  .add-article {
    @include flex-center;
    padding: 20px 0;

    .add-article-btn {
      @include button;
    }
  }
  .card-area {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
  }
}
